[server]
http_addr = 0.0.0.0
http_port = 3000
domain = grafana.{{ domain_ext }}
root_url = https://grafana.{{ domain_ext }}

[security]
admin_user = admin
admin_password = {{ grafana_admin_password }}
secret_key = {{ grafana_admin_password }}acmecorp2026
disable_gravatar = true

[users]
allow_sign_up = false
auto_assign_org = true
auto_assign_org_role = Viewer

[auth.anonymous]
enabled = false

[dashboards]
default_home_dashboard_path = /var/lib/grafana/dashboards/overview.json

[log]
mode = console
level = info

[alerting]
enabled = true
