services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /opt/traefik/traefik.yml:/traefik.yml:ro
      - /opt/traefik/config:/config:ro
      - /opt/traefik/certs:/certs:ro
      - /opt/traefik/logs:/logs
    environment:
      - TZ=Europe/Paris
    labels:
      - "traefik.enable=false"
