http:
  routers:
    grafana:
      rule: "Host(`grafana.{{ domain }}`)"
      entryPoints: [websecure]
      service: grafana
      tls:
        certResolver: letsencrypt
      middlewares: [secure-headers]

    traefik-dashboard:
      rule: "Host(`traefik.{{ domain }}`)"
      entryPoints: [websecure]
      service: api@internal
      tls:
        certResolver: letsencrypt
      middlewares: [basic-auth, secure-headers]

  services:
    grafana:
      loadBalancer:
        servers:
          - url: "http://{{ grafana_ip }}:3000"

  middlewares:
    basic-auth:
      basicAuth:
        usersFile: /config/.htpasswd

    secure-headers:
      headers:
        stsSeconds: 31536000
        browserXssFilter: true
        contentTypeNosniff: true
        frameDeny: true

tls:
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305
