api:
  dashboard: true
  insecure: false

ping:
  entryPoint: traefik

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
  traefik:
    address: ":8080"

providers:
  file:
    directory: /opt/traefik/config
    watch: true

# Ignore les certs auto-signés des backends (FreeIPA, pfSense)
serversTransport:
  insecureSkipVerify: true

log:
  level: INFO
  filePath: /opt/traefik/logs/traefik.log

accessLog:
  filePath: /opt/traefik/logs/access.log
  fields:
    headers:
      names:
        User-Agent: keep
        X-Forwarded-For: keep

metrics:
  prometheus:
    addEntryPointsLabels: true
    addServicesLabels: true
    entryPoint: traefik
