Pool {
  Name = {{ bareos_full_pool_name }}
  Pool Type = Backup
  Recycle = yes
  AutoPrune = yes
  Volume Retention = 30 days
  Maximum Volume Jobs = 1
  Label Format = "Full-"
}

Pool {
  Name = {{ bareos_inc_pool_name }}
  Pool Type = Backup
  Recycle = yes
  AutoPrune = yes
  Volume Retention = 14 days
  Label Format = "Inc-"
}
